<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SBB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a sec:authorize="isAnonymous()" class="nav-link" href="/user/login">로그인</a>
          <!-- 로그인이 안되어 있으면 로그인이 보임 -->
          <a sec:authorize="isAuthenticated()" class="nav-link" href="javascript:;" onclick="this.nextElementSibling.submit();">로그아웃</a>
          <!-- 로그인이 되어 있으면 로그아웃이 보임 -->
          <form sec:authorize="isAuthenticated()" method="post" hidden th:action="@{/user/logout}"></form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signup">회원가입</a>
        </li>
      </ul>
    </div>
  </div>
</nav>