<html layout:decorate="~{layout}"></html>
<!-- <link rel="stylesheet" tpye="text/css" th:href="@{/style.css}"> -->

<!--
<h1>
    <th>[[${question.subject}]]</th>
</h1>
<div>
    <th>[[${question.content}]]</th>
</div> -->
<head></head>

<body>
<div layout:fragment="content" class = "container my-3">
    <!-- 질문 -->
    <h2 class = "border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class = "card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author!=null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정"></a>

                <a th:href="@{|/question/delete/${question.id}|}" onclick="return confirm('정말로 삭제하시겠습니까?');"
                   class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${question.answerList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author!=null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate,'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <a th:href="@{|/answer/delete/${answer.id}|}" onclick="return confirm('정말로 삭제하시겠습니까?');"
                   class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝 -->
    <!-- 답변 작성 -->

    <form th:action="@{|/answer/create/${question.id}|}" method="post" class="my-3" th:object="${answerForm}">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div>
            <span class="ms-2">답변을 입력하세요.</span>
            <br>
            <textarea sec:authorize="isAnonymous()" disabled required maxlength="20000" placeholder="로그인 후 이용해주세요." th:field="*{content}" rows = "10" class="form-control"></textarea>
            <textarea sec:authorize="isAuthenticated()" required maxlength="20000" placeholder="내용(20,000자 이하)" th:field="*{content}" rows = "10" class="form-control"></textarea>
        </div>
        <!--<input type="submit" value="답변등록">-->
        <button type="submit" sec:authorize="isAnonymous()" disabled class="btn btn-primary my-2">답변등록</button>
        <button type="submit" sec:authorize="isAuthenticated()" class="btn btn-primary my-2">답변등록</button>
    </form>
</div>
</body>



<!-- 답변 갯수 표시 -->


<!--
<div>
    <ul>
        <li  th:text="|${answer.id}답변: ${answer.content}|">
        </li>
    </ul>
</div>

<form th:action="@{|/answer/create/${question.id}|}" method = "post">
    <div>
        <label for="content"> 내용</label>
        <br>
        <textarea placeholder="내용" name = "content" rows = "15"></textarea>
    </div>
    <input type="submit" value="답변등록">
</form>

위 처럼 작성할 때는 id가 필요하다. 저렇게 되면
<span>내용</span> 이걸 한 거럼 작성칸 위에 내용이라는
글자가 나오는데 저렇게 하게되면
내용 글자가 클릭이 가능하고 클릭하면 글을 작성하는 칸으로 이동해서
글을 바로 쓸수가 있다.

-->